<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Database</title>
</head>
<body>
    <h1>Search for Games:</h1>
    <form data-th-action="@{/games}">
        <input type="text" name="name">
        <button type="submit">Search</button>
    </form>
    <br>
    <div data-th-object="${topResult}">
        <h1>Top Games:</h1>
        <ul data-th-each="g : *{games}" data-th-object="${g}">
            <li>
                <a data-th-href="@{/games/{id}(id=${g.game_id})}" data-th-text="*{name}"></a>
            </li>
        </ul>
    </div> 
</body>
</html>